<div class="example">
  <div class="title">
    Ejemplo de un componente que muestra un usuario
  </div>
  <div *ngFor="let elemento of usuarios">
    <app-usuario [usuario]="elemento"></app-usuario>
  </div>
</div>
<br>

<div class="example">
  <div class="title">
    Ejemplo de un componente que ingresa un n&uacute;mero entero
  </div>
  <div>
    <app-contador [valorInicial]="3"></app-contador>
    <app-contador [valorInicial]="0"></app-contador>
  </div>
</div>

<div class="example">
  <div class="title">
    Productos de un carrito de compras
  </div>
  <div *ngFor="let producto of productos">
    <app-producto [producto]="producto"></app-producto>
    <hr/>
  </div>
</div>