<div class="example">
  <div class="title">
    Contadores
  </div>
  <div>
    <p>
      El primer contador está ligado a la lista de productos
    </p>
    <app-contador [valorInicial]="item" [cantidad]="productos.length" (valorActual)="seleccionarProducto($event)"></app-contador>
    <p>
      El segundo contador es libre
    </p>
    <app-contador [valorInicial]="0"></app-contador>
  </div>
</div>

<div class="example">
  <div class="title">
    Productos de un carrito de compras
  </div>
  @for (producto of productos; track producto; let i = $index) {
    <app-producto [producto]="producto" [productoElegido]="item - 1 === i"></app-producto>
    <hr/>
  }
</div>