.contador__form {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contador__label {
  font-size: 1.5em;
}

button:hover {
  background-color: rgb(44, 172, 123);
}